
.modal-body-container{
    display: flex;
    justify-content: flex-end;
    .modal-body-container_button-no{
        margin-right: 8px;
        background-color: #6c757d;
        border-color: #6c757d;
    }
}
@media (max-width: 500px) {
    .modal-body{
        padding: 0px;
    }
}