.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1080px;
    height: 100%;   
    .header{        
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        background-color: #212529;        
    }
    .table{
       tbody{
           cursor: pointer;
       }
    }
}
.button-minus:hover{
    color: rgb(240, 3, 3);
    cursor: pointer;
}
.button-plus:hover{
    color: rgb(155, 238, 147);
    cursor: pointer;
}