.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1080px;
    height: 100%;   
    .header{        
        margin: 20px;
        margin-top: 10px;
        margin-bottom: 30px;
        background-color: #212529;        
    }
    .table{
        // margin: 60px;
    }
}