%display {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 24px;
}
$text-color: rgb(250, 248, 248);
.header{
    @extend %display;
    
    .header__coins_popular-list{
        @extend %display;        
        color: $text-color;
        margin-right: 20px;
        .header__coins_popular-list_coin{
            border: solid $text-color;
            box-sizing: border-box;
            margin-right: 10px;
        }
    }
    .header__coin-bag{
        @extend %display;
        border: solid $text-color;
        color: aliceblue;
        margin-left: 20px;
        cursor: pointer;
    }
    .header__coin-bag:hover{
        background-color: rgb(175, 172, 172);
    }
}